# pandas: 1.0.1 (pg 51~)
## 10 minutes to pandas
### library loading

In [1]:
import numpy as np
import pandas as pd

### Creating a DatatFrame
 rand: uniform distribution (0,1)  
 randn: standard **normal** distribution  
 randint: uniform distribution with integers  
 eg) np.random.randint(10,20,size=10)

In [46]:
dates = pd.date_range('20200101',periods=5)
df = pd.DataFrame(np.random.randn(5,3),index=dates,columns=list('ABC'))
df.head(3)

                   A         B         C
2020-01-01 -1.643923  1.662761  0.125754
2020-01-02  1.346579  1.777972 -0.313709
2020-01-03 -0.739634  0.755832  0.405275

In [47]:
df2 = pd.DataFrame({'A': 1.,'B': pd.Timestamp('20130102'),
...: 'C': pd.Series(1, index=list(range(4)), dtype='float32'), 
...:'D': np.array([3] * 4, dtype='int32'),
...: 'E': pd.Categorical(["test", "train", "test", "train"]),
...: 'F': 'foo'})
df2.head(3)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo

In [48]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [49]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [50]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [51]:
df.to_numpy()

array([[-1.64392324,  1.66276131,  0.12575387],
       [ 1.34657855,  1.77797152, -0.31370853],
       [-0.73963422,  0.75583158,  0.40527472],
       [-0.49106252,  1.30848938, -1.04734386],
       [-0.38094779,  0.10243878,  2.51559133]])

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2020-01-01 to 2020-01-05
Freq: D
Data columns (total 3 columns):
A    5 non-null float64
B    5 non-null float64
C    5 non-null float64
dtypes: float64(3)
memory usage: 160.0 bytes

In [53]:
df.describe()

              A         B         C
count  5.000000  5.000000  5.000000
mean  -0.381798  1.121499  0.337114
std    1.086305  0.694817  1.335606
min   -1.643923  0.102439 -1.047344
25%   -0.739634  0.755832 -0.313709
50%   -0.491063  1.308489  0.125754
75%   -0.380948  1.662761  0.405275
max    1.346579  1.777972  2.515591

Transpose matrix and sort

In [54]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05
A   -1.643923    1.346579   -0.739634   -0.491063   -0.380948
B    1.662761    1.777972    0.755832    1.308489    0.102439
C    0.125754   -0.313709    0.405275   -1.047344    2.515591

sort_index (axis=0 (row) 1 (col))

In [64]:
df.sort_index(axis=1,ascending=False)

                   C         B         A
2020-01-01  0.125754  1.662761 -1.643923
2020-01-02 -0.313709  1.777972  1.346579
2020-01-03  0.405275  0.755832 -0.739634
2020-01-04 -1.047344  1.308489 -0.491063
2020-01-05  2.515591  0.102439 -0.380948

In [66]:
df.sort_values(by='B',ascending=True)

                   A         B         C
2020-01-05 -0.380948  0.102439  2.515591
2020-01-03 -0.739634  0.755832  0.405275
2020-01-04 -0.491063  1.308489 -1.047344
2020-01-01 -1.643923  1.662761  0.125754
2020-01-02  1.346579  1.777972 -0.313709

**Selection by label**

In [69]:
df.loc[dates[0]]

A   -1.643923
B    1.662761
C    0.125754
Name: 2020-01-01 00:00:00, dtype: float64

In [73]:
df.loc['2020-01-02':'2020-01-05', ['B','C']]

                   B         C
2020-01-02  1.777972 -0.313709
2020-01-03  0.755832  0.405275
2020-01-04  1.308489 -1.047344
2020-01-05  0.102439  2.515591

Fast access to a scalar

In [76]:
df.at[dates[0],'B']

1.662761308235702

**Selection by position**

In [77]:
df.iloc[1,1]

1.7779715217986718

**Boolean indexing**

In [85]:
df[df['B'] > 0.8]

                   A         B         C
2020-01-01 -1.643923  1.662761  0.125754
2020-01-02  1.346579  1.777972 -0.313709
2020-01-04 -0.491063  1.308489 -1.047344

In [86]:
df3 = df.copy()

In [88]:
df3['D']=['1','2','3','4','5']

In [95]:
df3[df3['D'].isin(['2','1'])]['A']

2020-01-01   -1.643923
2020-01-02    1.346579
Freq: D, Name: A, dtype: float64

## Setting values by label and position

In [105]:
df.at[dates[0],'A']=0
df.iat[0,1]=0
df.at[:,'B']=np.array([5]*len(df))
df

                   A  B         C
2020-01-01  0.000000  5  0.125754
2020-01-02  1.346579  5 -0.313709
2020-01-03 -0.739634  5  0.405275
2020-01-04 -0.491063  5 -1.047344
2020-01-05 -0.380948  5  2.515591

In [103]:
df3 = df.copy()
df3[df3>0]=-df3

In [106]:
df3

                   A  B         C
2020-01-01  0.000000 -5 -0.125754
2020-01-02 -1.346579 -5 -0.313709
2020-01-03 -0.739634 -5 -0.405275
2020-01-04 -0.491063 -5 -1.047344
2020-01-05 -0.380948 -5 -2.515591

## Missing data

In [118]:
df1 = df.reindex(index=dates[0:3],columns=list(df.columns)+['D'])
df1.loc[dates[0]:dates[1],'D']=2
df1

                   A  B         C    D
2020-01-01  0.000000  5  0.125754  2.0
2020-01-02  1.346579  5 -0.313709  2.0
2020-01-03 -0.739634  5  0.405275  NaN

In [119]:
df1.dropna(how='any')

                   A  B         C    D
2020-01-01  0.000000  5  0.125754  2.0
2020-01-02  1.346579  5 -0.313709  2.0